# editor files
*~

# generated parser file
fortran_2003.py

# python build artifacts
*.pyc
*.egg-info

# fortran build artifacts
*.o
*.mod
*.a

# virtual environments
phast-env2
phast-env3

# test files
*.tmp
tmp.txt